<h2><%= @track.title %></h2>
<%= button_to 'Edit this track', edit_track_url(@track), method: :get %>
<%= button_to 'delete this track', track_url(@track), method: :delete %>
<table>
  <tr>
    <th>Album title</th>
    <th>Track Type</th>
    <th>Lyrics</th>
  </tr>
  <tr>
    <td><%= @track.album.title %></td>
    <td><%= @track.track_type %></td>
    <td><%= ugly_lyrics(@track.lyrics) %></td>
  </tr>
</table>

<%= render 'notes/form', track: @track %>

<% unless @track.notes.empty? %>
  <h3>Notes</h3>
  <% @track.notes.each do |note| %>
    <%= render 'notes/note', note: note %>
  <% end %>
<% end %>
